run = "python app.py"
language = "python3"
modules = ["python-3.12", "web", "nix"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80
